html {
    font-family: Sriracha, serif;
    font-size: smaller;
    background-color: #808080;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
}

header {
    background-color: #F7C873;
    padding: 1rem;
    display: flex;
}

h1 {
    font-family: Agbalumo, sans-serif;
    width: 80%;
    padding-left: 2rem;
}

header img {
    width: 10%
}

nav {
    background-color: #434343;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding:  0;
    margin: 0;
}

li {
    width: calc(100% / 3);
}

li a {
    color: #F8F8F8;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
}

li a:hover {
    background-color: #808080;
}

main {
    background-color: #FAEBCD;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    font-family: Agbalumo, serif;
    width: 100%;
    text-align: center;
}

article {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

h3 {
    font-family: Agbalumo, serif;
}

figure {
    float: left;
    margin: 0 1rem 1rem 0;
}

img {
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: auto;
    margin: auto;
}

figcaption {
    font-size: smaller;
    color: #595959;
}

#contact {
    display: inline-block;
}

@media screen and (min-width: 769px) {
    .container {
        width: 90%;
    }
    section {
        width: 80%;
    }
    article {
        width: calc(100% / 3);
    }
    li {
        width: calc(100% / 3);
    }
    #map {
    width: 40%;
    }
}