@font-face {
    font-family: Agbalumo;
    src: url("Agbalumo-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Sriracha;
    src: url("Sriracha-Regular.ttf") format("truetype");
}

html {
    font-family: Sriracha, serif;
    font-size: medium;
    height: 100vh;
    background: rgb(247,200,115);
    background: radial-gradient(circle, rgba(247,200,115,1) 0%, rgba(233,228,148,1) 100%);
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: beige;
    background-image: url("Dog_face_pattern_and_bones.jpg");
    background-size: cover;
}

.container {
    width: 100%;
    margin: auto;
}

header {
    background-color: rgba(247,200,115,30%);
    padding: 1rem;
    display: flex;
    border-radius: 10px;
}

h1 {
    font-family: Agbalumo, sans-serif;
    padding-left: 1rem;
}

header img {
    cursor: pointer;
    width: 60px;
    height: 60px;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding:  0;
    margin: 0;
}

li {
    width: calc(100% / 3);
    background-color: rgba(67,67,67,80%);
    border-radius: 10px;
}

li a {
    color: #F8F8F8;
    width: 100%;
    text-transform: uppercase;
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
}

li a:hover {
    background-color: #434343;
}

main {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: rgba(246, 241, 234, 0.8);
}

section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    border-radius: 10px;
    justify-content: center;
    text-align: center;
}

h2 {
    font-family: Agbalumo, serif;
    padding: 0.5rem 3rem;
}

#main_img {
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: auto;
    margin: auto;
}

p {
    padding: 1rem 3rem;
}

article {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.service_img {
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: auto;
    margin: auto;
}

figcaption {
    font-size: small;
    color: #595959;
}

#map_img {
    border-radius: 10px 10px 10px 10px;
    width: 85%;
    height: auto;
    margin: auto;
}

@media screen and (min-width: 769px) {
    .container {
        width: 70%;
    }
    article {
        width: calc(100% / 3);
    }
    #map_img {
    width: 40%;
    }
}